html,
body {
    height: 100%;
    margin: 0px;
}

body {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {

}

#clock{
  margin-bottom: 2rem;

  font-family: 'Fugaz One', cursive;
  font-size: 54px;
}
