* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282828;
  font-family: 'Source Code Pro', monospace;
}
#buttonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button {
  background-color: #282828;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.25rem;
  font-weight: bold;
  border: 5px solid white;
  color: white;
  padding: 2rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.container {
  display: flex;
  white-space: nowrap;
}

.listeven {
  display: flex;
  -webkit-animation: loopLeft 50s infinite linear;
  animation: loopLeft 50s infinite linear;
  font-size: 2rem;
}

.listodd {
  display: flex;
  -webkit-animation: loopLeft 40s infinite linear;
  animation: loopLeft 40s infinite linear;
  font-style: italic;
  font-size: 18px;
}

.item {
  color: #ffe9d0;
}


@keyframes loopLeft {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
